<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  
  <%= form.hidden_field :question_type, value: graph_type_placeholder %>

  <div>
    <%= form.label :content, "Draggable Bar Chart Question", style: "display: block" %>
    <%= form.text_area :content, rows: 4 %>
  </div>
  
  <div>
    <%= form.label :graph_content, "Chart Title", style: "display: block" %>
    <%= form.text_area :graph_content%>
  </div>
  
 	<%= form.fields_for :chart_values do |chart_fields| %>
    <div class="field">
      <% index = chart_fields.index + 1 %>
      <div class="row">
          <div class="col-sm-6">
 			      <%= chart_fields.label :label, "Bar ##{index} Label" %>
 			    </div>
 			    <div class="col-sm-6">
 			      <%= chart_fields.label :height, "Bar ##{index} Height" %>
 			    </div>
 			</div>
      <% if index == 1 %>
      <% end %>
      <div class="row">
          <div class="col-sm-6">
            <%= chart_fields.text_field :label %>
 			    </div>
 			    <div class="col-sm-6">
            <%= chart_fields.text_field :height %>
 			    </div>
 			</div>
    </div>
  <% end %>
  
  <html>
<head>
<script type="text/javascript">

	var chart = new CanvasJS.Chart("chartContainer", {       
	animationEnabled: true,
	theme: "light2",
	title: {
		text: "Try Dragging Any Column to Resize"
	},
	axisX:{
		minimum: 5,
		maximum: 55
	},
	data: [{
		type: "column",
		dataPoints: [
			
			<% if !(question[:chart_values_attributes].nil?) %> 
				<% question[:chart_values_attributes].each do |index, point| %>
          <% label = point[:label] %>
          <% height = point[:height] %>
          <% next if label.blank? %> 
          <% next if height.blank? %>
      		<% index = chart_fields.index + 1 %>
      		<% if index == 1 %>
      			<%= "{ x: #{label} , y: #{height} }" %>
      		<% else %>
      			<%= ",\n{ x: #{label} , y: #{height} }" %>
      		<% end %> 
      	<% end %>
			<% else %>
				<%= "{ x: 10, y: 71 }," %>
				<%= "{ x: 20, y: 55 }," %>
				<%= "{ x: 30, y: 50 }," %>
				<%= "{ x: 40, y: 65 }," %>
				<%= "{ x: 50, y: 95 }" %>
			<% end %>
		]
	}]
});
chart.render();
 
var xSnapDistance = chart.axisX[0].convertPixelToValue(chart.get("dataPointWidth")) / 2;
var ySnapDistance = 3;
 
var xValue, yValue;
 
var mouseDown = false;
var selected = null;
var changeCursor = false;
 
var timerId = null;
 
function getPosition(e) {
	var parentOffset = $("#chartContainer > .canvasjs-chart-container").offset();          	
	var relX = e.pageX - parentOffset.left;
	var relY = e.pageY - parentOffset.top;
	xValue = Math.round(chart.axisX[0].convertPixelToValue(relX));
	yValue = Math.round(chart.axisY[0].convertPixelToValue(relY));
}
 
function searchDataPoint() {
	var dps = chart.data[0].dataPoints;
	for(var i = 0; i < dps.length; i++ ) {
		if( (xValue >= dps[i].x - xSnapDistance && xValue <= dps[i].x + xSnapDistance) && (yValue >= dps[i].y - ySnapDistance && yValue <= dps[i].y + ySnapDistance) ) 
		{
			if(mouseDown) {
				selected = i;
				break;
			} else {
				changeCursor = true;
				break; 
			}
		} else {
			selected = null;
			changeCursor = false;
		}
	}
}
 
jQuery("#chartContainer > .canvasjs-chart-container").on({
	mousedown: function(e) {
		mouseDown = true;
		getPosition(e);  
		searchDataPoint();
	},
	mousemove: function(e) {
		getPosition(e);
		if(mouseDown) {
			clearTimeout(timerId);
			timerId = setTimeout(function(){
				if(selected != null) {
					chart.data[0].dataPoints[selected].y = yValue;
					chart.render();
				}   
			}, 0);
		}
		else {
			searchDataPoint();
			if(changeCursor) {
				chart.data[0].set("cursor", "n-resize");
			} else {
				chart.data[0].set("cursor", "default");
			}
		}
	},
	mouseup: function(e) {
		if(selected != null) {
			chart.data[0].dataPoints[selected].y = yValue;
			chart.render();
			mouseDown = false;
		}
	}
});
	
</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>
	</div>

  <!-- should only put heading once and choose on option -->
  <%= form.fields_for :answer_choices do |answer_fields| %>
    <div class="field">
      <% index = answer_fields.index + 1 %>
      <%= answer_fields.label :content, "Answer Choice ##{index}" %>
      <% if index == 1 %>
        <small>(must have 0 or 2-5 answer choices)</small>
      <% end %>
      <%= answer_fields.text_field :content %>
    </div>
  <% end %>
  
  <div>
    <%= form.label :correct_answer, "Correct Answer", style: "display: block" %>
    <%= form.text_field :correct_answer %>
  </div>
  
  <div>
    <%= form.submit %>
  </div>
<% end %>