<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <%= form.hidden_field :question_type, value: graph_type_placeholder %>

  <div>
    <%= form.label :content, "Question", style: "display: block" %>
    <%= form.text_area :content, rows: 4 %>
  </div>

  <div>
    <%= form.label :graph_content, "Chart Title", style: "display: block" %>
    <%= form.text_area :graph_content%>
  </div>

 	<%= form.fields_for :chart_values do |chart_fields| %>
    <div class="field">
      <% index = chart_fields.index + 1 %>
      <% if index < 6 %>
        <div class="row">
            <div class="col-sm-6">
   			      <%= chart_fields.label :label, "Bar ##{index} Label" %>
   			    </div>
   			    <div class="col-sm-6">
   			      <%= chart_fields.label :height, "Bar ##{index} Height" %>
   			    </div>
   			</div>
        <% if index == 1 %>
        <% end %>
        <div class="row">
            <div class="col-sm-6">
              <%= chart_fields.text_field :label %>
   			    </div>
   			    <div class="col-sm-6">
              <%= chart_fields.text_field :height %>
   			    </div>
   			</div>
      </div>
    <% else %>
    <div class="row">
            <div class="col-sm-6">
   			      <%= chart_fields.label :label, "Minimum Height" %>
   			    </div>
   			    <div class="col-sm-6">
   			      <%= chart_fields.label :height, "Maximum Height" %>
   			    </div>
   			</div>
        <% if index == 1 %>
        <% end %>
        <div class="row">
            <div class="col-sm-6">
              <%= chart_fields.text_field :label %>
   			    </div>
   			    <div class="col-sm-6">
              <%= chart_fields.text_field :height %>
   			    </div>
   			</div>
   		<% end %>
  <% end %>




  <%= render partial: "skills/#{graph_type_placeholder}",
  locals: {question: @question} %>

  <!-- should only put heading once and choose on option -->
  <%= form.fields_for :answer_choices do |answer_fields| %>
    <div class="field">
      <% index = answer_fields.index + 1 %>
      <%= answer_fields.label :content, "Answer Choice ##{index}" %>
      <% if index == 1 %>
        <small>(must have 0 or 2-5 answer choices)</small>
      <% end %>
      <%= answer_fields.text_field :content %>
    </div>
  <% end %>

  <div>
    <%= form.label :correct_answer, "Correct Answer", style: "display: block" %>
    <%= form.text_field :correct_answer %>
  </div>


  <div>
    <%= form.submit "Create Question", name: "create_question", class: "btn btn-primary" %>
  </div>
<% end %>