<%= form_with(model: question) do |form| %>
  <% if question.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(question.errors.count, "error") %> prohibited this skill from being saved:</h2>

      <ul>
        <% question.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :content, "Multiple Choice Question", style: "display: block" %>
    <%= form.text_area :content, rows: 4 %>
  </div>

  <!-- should only put heading once and choose on option -->
  <%= form.fields_for :answer_choices do |answer_fields| %>
    <div class="field">
      <% index = answer_fields.index + 1 %>
      <%= answer_fields.label :content, "Answer Choice ##{index}" %>
      <% if index == 1 %>
        <small>(must have 0 or 2-5 answer choices)</small>
      <% end %>
      <%= answer_fields.text_field :content %>
    </div>
  <% end %>

  <div>
    <%= form.label :hint, "Hint (optional)", style: "display: block" %>
    <%= form.text_field :hint %>
  </div>

  <div>
    <%= form.label :correct_answer, "Correct Answer", style: "display: block" %>
    <%= form.text_field :correct_answer %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
