<p style="color: green"><%= notice %></p>

<h1>Questions</h1>

<div id="questions">
  <br/>
  <% @questions.each do |question| %>
    <p>
      <strong><%= question.content %></strong>
    </p>

    <p>
      <% if question.answer_choices.present? %>
        <ul>
          <% question.answer_choices.each do |answer_choice| %>
            <% if answer_choice.content == question.correct_answer %>
              <li><strong><em style="color: green"><%= answer_choice.content %></em></strong></li>
            <% else %>
              <li><%= answer_choice.content %></li>
            <% end %>
          <% end %>
        </ul>
      <% else %>
        <strong><em style="color: green"><%= question.correct_answer %></em></strong>
      <% end %>
    </p>
    <p>
      <%= link_to "Show this question", question %>
    </p>
    <br/>
  <% end %>
  <br/>
</div>
<p>
  <%= link_to "New question", new_question_path %>
</p>