<html>
<head>
<% y_min = question.chart_values[question.chart_values.count - 1].label %>
<% y_max = question.chart_values[question.chart_values.count - 1].height %>
<% y_present = !(y_min.blank?) || !(y_max.nil?) %>
<script type="text/javascript">

var chart = new CanvasJS.Chart("chartContainer", {
	animationEnabled: true,
	theme: "light1",
	title: {

	    text: "<%= question.graph_content %>"

	},
	<% if y_present %>
		axisY:{
		<%= !(y_min.blank?) ? ("minimum:  #{y_min} " + (!(y_max.nil?) ?
		", maximum: #{y_max}" : " ")) : (!(y_max.nil?) ?
		"maximum: #{y_max}" : " ") %>
		}, 
	<% end %>
	data: [{
		type: "column",
		dataPoints: [

			<% if !(question.chart_values.nil?) %>
				<% question.chart_values.each_with_index do |point, index| %>
          <% label = point.label %>
          <% height = point.height %>
          <% next if label.blank? %>
          <% next if height.blank? %>
      		<% index = index + 1 %>
      		<% if index < (question.chart_values.count - 1) %>
      			{ label: "<%= label %>" , y: <%= height %> },
      		<% elsif index == (question.chart_values.count - 1) %>
      			{ label: "<%= label %>" , y: <%= height %> }
      		<% end %>
      	<% end %>
			<% end %>

		]
	}]
});
chart.render();

</script>
</head>
<body>
<div id="chartContainer" style="height: 300px; width: 100%;"></div>
</body>
</html>