<p style="color: green"><%= notice %></p>

<h1>Skills</h1>

<div id="skills">
  <% @skills.each do |skill| %>
    <p>
      <strong>Name:</strong>
      <%= skill.name %>
    </p>
  
    <p>
      <strong>Description:</strong>
      <%= skill.description %>
    </p>
    <p>
      <%= link_to "Show this skill", skill %>
    </p>
  <% end %>
</div>

<%= link_to "New skill", new_skill_path %>
