<% provide(:title, "Quiz") %>
<p style="color: green"><%= notice %></p>
<h1>Assessment: <%= @skill.name %></h1>
<div class="score">
  <p>
    <% if @curr_att > 0 %>
      Current Score: <%= @curr_score %> / <%= @curr_att %>
    <% end %>
  </p>
</div>
<p>Question <%= @curr_id + 1 %>: <%= @curr_question.content  %></p>
<% if @curr_question.answer_choices.count > 0 %>
    
    <% question_type_partial = @curr_question.question_type %>
    <%= render partial: question_type_partial,
    locals: {question: @curr_question} %>
    
    <%= form_tag submit_answer_path(s_id: @skill.id, q: @curr_id, c: @curr_score, a: @curr_att), method: :post do %>
      <div class="radio-group">
        <% @curr_question.answer_choices.each do |option| %>
          <div class="choice">
            <%= radio_button_tag 'answer_choice_id', option.id %>
            <%= label_tag "answer_choice_#{option.id}", option.content %>
          </div>
        <% end %>
      </div>
      <% if @curr_att == @curr_id %>
        <%= submit_tag "Submit", id: "submit-btn" %>
      <% else %>
        <%= submit_tag "Submit", id: "submit-btn", disabled: true %>
      <% end %>
    <% end %>
<% else %>

    <% question_type_partial = @curr_question.question_type %>
    <%= render partial: question_type_partial,
    locals: {question: @curr_question} %>

    <%= form_tag submit_text_answer_path(s_id: @skill.id, q: @curr_id, q_id: @curr_question.id, c: @curr_score, a: @curr_att), method: :post do %>
      <div class="radio-group">
        <%= label_tag(:answer, "Answer:") %>
        <%= text_field_tag(:answer) %>
      </div>
      <%= submit_tag "Submit", id: "submit-btn" %>
    <% end %>
<% end %>
<% if @curr_att == @curr_id + 1 %>
  <%= link_to '<button>Next Question</button>'.html_safe, quiz_skill_path(q: @curr_id + 1, c: @curr_score, a: @curr_att) %> <!--, class: 'btn btn-danger btn-xs pull-right', style:'margin-right: 600px; margin-top: -20px'-->
<% end %>
<br/>
<br/>
<!--%= render @skill %-->

<div>
  <% if logged_in? %>
    <%= link_to "Back to dashboard", learning_dashboard_path %>
  <% else %>
    <%= link_to "Back to skill", skill_path %>
  <% end %>
</div>