<p style="color: green"><%= notice %></p>
<h1>Quiz:</h1>
<p>Question <%= @curr_id + 1 %>: <%= @curr_question.content  %></p>
<% if @curr_question.answer_choices.count > 0 %>
    <%= form_tag submit_answer_path, method: :post do %>
      <div class="radio-group">
        <% @curr_question.answer_choices.each do |option| %>
          <div class="choice">
            <%= radio_button_tag 'answer_choice_id', option.id %>
            <%= label_tag "answer_choice_#{option.id}", option.content %>
          </div>
        <% end %>
      </div>
      <%= submit_tag "Submit", id: "submit-btn" %>
    <% end %>
<% else %>
    <%= form_tag submit_text_answer_path(question_id: @curr_question.id), method: :post do %>
      <div class="radio-group">
        <%= label_tag(:answer, "Answer:") %>
        <%= text_field_tag(:answer) %>
      </div>
      <%= submit_tag "Submit", id: "submit-btn" %>
    <% end %>
<% end %>
<%= link_to '<button>Next Question</button>'.html_safe, quiz_skill_path(q: @curr_id) %> <!--, class: 'btn btn-danger btn-xs pull-right', style:'margin-right: 600px; margin-top: -20px'-->
<!--%= render @skill %-->

<div>
  <%= link_to "Back to skill", skill_path %>
</div>