<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "IT For Concept Mastery", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <div class="dropdown">
          <button class="dropbtn">Drop</button>
          <div class="dropdown-content">
            <li><%= link_to "Learning", learning_path %></li>
            <li><%= link_to "Assessments", assessments_study_activities_url %></li>
          </div>
        </div>
      </ul>
    </nav>
  </div>
</header>