<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "IT For Concept Mastery", root_path, id: "logo" %>
    <nav>
      <div class="navbar-header">
        <button id="hamburger" type="button" class="navbar-toggle collapsed">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
      </div>
      <ul id="navbar-menu" class="nav navbar-nav navbar-right collapse navbar-collapse">
        <li><%= link_to "Home", root_path %></li>
        <li><%= link_to "Help", help_path %></li>
        <% if logged_in? %>
          <li class="dropdown">
            <a href="#" id="account" class="dropdown-toggle">
              Account <b class="caret"></b>
            </a>
            <ul id="dropdown-menu" class="dropdown-menu">
              <li><%= link_to "Profile", current_user %></li>
              <li><%= link_to "Account Settings", edit_user_path(current_user) %></li>
                <li><%= link_to "Learning", learning_dashboard_path %></li>
              <%if current_user.admin > 1 %>
                <li class="divider"></li>
                <li><%= link_to "Questions", questions_path %></li>
                <li><%= link_to "Skills", skills_path %></li>
              <% end %>
              <%if (current_user.admin % 5) == 0 %>
                <li><%= link_to "Users", users_path %></li>
              <% end %>
              <li class="divider"></li>
              <li>
                <%= link_to "Log out", logout_path, data: {"turbo-method": :delete } %>
              </li>
            </ul>
          </li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>